.logo-mouseover {
  transform: scale(0.85);
  box-shadow: -4px -4px 44px; }

.nav-click {
  transform: scale(1.5); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'K2D', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-user-select: none;
  user-select: none;
  min-height: 100%; }

body {
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
  cursor: url("../img/cursor3-small.png"), default; }

a:hover, li:hover, i:hover {
  cursor: url("../img/cursor-hand.png"), default; }

@keyframes foging {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-200vw, 0, 0); } }

@keyframes iconMovement {
  0% { }
  20% {
    transform: translateY(-5px) rotateY(25deg) scale(1.2); }
  40% {
    transform: translateX(0) rotateX(0deg) scale(1.3); }
  60% {
    transform: translateY(5px) rotateY(20deg) scale(1.3); }
  80% {
    transform: translateY(-5px) rotateY(-25deg) scale(1.1); } }

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 1; }

.home-logo__link {
  position: fixed;
  top: .5%;
  left: 2%;
  z-index: 10;
  overflow: hidden;
  border-radius: 25%;
  width: 5.3rem;
  height: 5.1rem;
  transition: transform 1.1s;
  transition-timing-function: cubic-bezier(0.55, 0.55, 0.28, 0.7); }
  .home-logo__link:hover {
    transform: rotateZ(-360deg) scale(1.1); }
  .home-logo__link img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    overflow: hidden; }
  .home-logo__link img:hover {
    background-color: rgba(122, 202, 17, 0.24);
    border-radius: 25%;
    transition: transform 1.5s, background-color 1s, opacity 0.5s;
    transition-timing-function: ease-out;
    border: 1px solid rgba(43, 12, 129, 0.1); }
  .home-logo__link img:active {
    background-color: rgba(255, 0, 191, 0.644);
    transition: .2s; }

.navigation {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 10;
  width: 75%;
  perspective: 75rem;
  perspective-origin: right; }
  .navigation__list {
    list-style: none;
    transform: rotateY(-7deg);
    margin-top: .3rem; }
  .navigation__list::after {
    content: "";
    clear: both;
    display: table; }
  .navigation__item {
    background-color: rgba(255, 235, 205, 0.301);
    width: 33.33%;
    float: left;
    text-align: center;
    margin: 0 auto;
    box-shadow: 4px 8px 10px rgba(78, 28, 28, 0.705);
    border: 5px solid transparent;
    border-radius: 5px;
    border-left: 3px solid rgba(124, 95, 204, 0.836);
    transform: rotateY(-5deg) rotateZ(1deg);
    transition: border-left .5s, border-bottom 2s, border-right 1s, border-top 3s, box-shadow .3s, background-color .7s, transform 1.5s; }
    .navigation__item:hover {
      border-left: 5px solid #c8f890;
      border-bottom: 5px solid #5ef5b6;
      border-right: 5px solid #9232e0;
      border-top: 5px solid #ff0f87;
      box-shadow: 2px 6px 5px rgba(78, 28, 28, 0.705);
      background-color: transparent;
      transform: rotateY(10deg) rotateZ(-1deg);
      background: rgba(255, 0, 155, 0.3); }
    .navigation__item:active {
      transform: scale(0.9);
      background: rgba(255, 0, 140, 0.671);
      transition: 0.1s; }
    .navigation__item:hover + .navigation__item {
      border-left: 3px solid transparent; }
  .navigation__link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 2.2rem;
    background-image: -webkit-linear-gradient(#8d0286, #087a2e);
    background-image: linear-gradient(#8d0286, #087a2e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent; }

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }
  .fog-container .fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw; }
  .fog-container__fog-1 {
    background: url("/img/fog-1.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: foging 60s linear infinite;
    opacity: .3; }
  .fog-container__fog-2 {
    background: url("/img/fog-2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: foging 45s linear infinite;
    opacity: .5; }

.shown {
  z-index: 2;
  transform: translateY(0);
  display: block;
  transition: 1.5s ease-in-out; }

.hidden {
  z-index: -1;
  transform: translateY(-100%);
  transition: 1.5s cubic-bezier(0.63, 0.27, 0.35, 0.89); }

.header__main-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .header__main-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__main-img__overlay {
    width: 100%;
    height: 100%;
    min-height: 120vh;
    background: #1a2a6c;
    background: -webkit-linear-gradient(to left bottom, rgba(253, 187, 45, 0.612) 25%, rgba(178, 31, 31, 0.396), rgba(26, 42, 108, 0.847) 77%);
    background: linear-gradient(to left bottom, rgba(253, 187, 45, 0.502) 25%, rgba(178, 31, 31, 0.259), rgba(26, 42, 108, 0.412) 77%);
    position: absolute;
    top: 0;
    left: 0; }

.header__mid-img-container {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 23rem;
  height: 23rem;
  overflow: hidden;
  border-radius: 55%;
  box-shadow: 2px 4px 10px; }
  .header__mid-img-container__img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .header__mid-img-container__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(102, 15, 88, 0.5);
    border-radius: 50%;
    transition: 1s; }

.portfolio {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .portfolio__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%; }
  .portfolio__overlay {
    background-color: rgba(10, 111, 194, 0.425);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .portfolio__projects-container {
    border: 4px solid red;
    margin: 15rem 3rem;
    padding: 1.5rem;
    height: 55%;
    z-index: 5; }
    .portfolio__projects-container__project-title {
      text-align: center; }
    .portfolio__projects-container__controller {
      display: block;
      text-align: center;
      margin: 3vh auto; }
    .portfolio__projects-container__boxes-container {
      display: inline-block;
      width: 100%;
      height: 80%;
      border: 1px solid green;
      margin: 1.5rem auto; }
    .portfolio__projects-container .box {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .portfolio__projects-container__box-1 {
      border: 1px solid yellow;
      overflow: hidden; }
      .portfolio__projects-container__box-1__img-container {
        position: relative;
        display: block;
        width: 100%;
        height: 80%;
        border-radius: 10px;
        border: 5px solid green;
        perspective: 355px;
        backface-visibility: visible; }
        .portfolio__projects-container__box-1__img-container__img {
          display: block;
          width: 100%;
          height: 100%; }
        .portfolio__projects-container__box-1__img-container .fa {
          font-size: 3.5rem;
          color: rgba(253, 209, 68, 0.882);
          transition: .3s ease-in-out;
          transform: scale(1.1); }
        .portfolio__projects-container__box-1__img-container .fa-globe {
          position: absolute;
          top: 75%;
          left: 40%; }
        .portfolio__projects-container__box-1__img-container .fa-github {
          position: absolute;
          top: 75%;
          left: 55%; }
        .portfolio__projects-container__box-1__img-container .fa:hover {
          color: rgba(211, 25, 164, 0.937);
          animation: iconMovement 1s ease-out; }
        .portfolio__projects-container__box-1__img-container .fa:active {
          transform: scale(0.9); }
      .portfolio__projects-container__box-1 .projects-title {
        color: #fff;
        text-align: center;
        margin-bottom: 1rem; }
      .portfolio__projects-container__box-1 .projects-used {
        color: #fff; }
    .portfolio__projects-container__box-2 {
      display: none;
      background: rebeccapurple;
      visibility: hidden;
      position: absolute; }
    .portfolio__projects-container__box-3 {
      display: none;
      background: rebeccapurple;
      visibility: hidden;
      position: absolute; }
    .portfolio__projects-container__box-4 {
      display: none;
      background: rebeccapurple;
      visibility: hidden;
      position: absolute; }
    .portfolio__projects-container__box-5 {
      display: none;
      background: rebeccapurple;
      visibility: hidden;
      position: absolute; }
    .portfolio__projects-container__box-6 {
      display: none;
      background: rebeccapurple;
      visibility: hidden;
      position: absolute; }

.about {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .about__image {
    width: 45%;
    height: 35%;
    border: 2px solid green;
    background: red;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%); }
    .about__image img {
      width: 100%;
      height: 100%; }
  .about__text {
    width: 75%;
    height: 30%;
    border: 2px solid red;
    background-color: tomato;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%); }
