.portfolio {
  // display: block;
  // z-index:1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  &__projects-container {
    border: 4px solid red;
    margin: 15rem 3rem;
    height: 50%;

    &__boxes-container {
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 3px solid green;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }

    .box {
      border: 2px solid blue;
      width: 33%;
      height: 80%;
      overflow: hidden;
      display: inline-block;
    }

    &__box-1 {
      border: 5px solid yellow;
      overflow: hidden;
      width: 100%;
      position: relative;

      &__picture {
        display: block;
        width: 100%;
        height: 85%;
        opacity: 0.8;
        transition: 0.5s ease-out;
        backface-visibility: hidden;

        .box:hover & {
          opacity: 0.95;
          transform: scale(0.97);
        }
      }

      .portfolio-icon {
        font-size: 3rem;
        color: $color-icons-yellow;
        transition: 0.3s ease-in-out;
        // transform: scale(1.1);
        filter: blur(0px);
        position: absolute;
        top: 65%;
        // left: 50%;
        opacity: 0.75;

      }

      #portfolio-globe-icon {
        left: 73%;
      }

      #portfolio-github-icon {
        left: 85%;
      }

      .portfolio-icon:hover {
        color: $color-icons-pink;
        animation: iconMovement 1s ease-out;
        opacity: 0.95;
        
      }

      .portfolio-icon:active {
        transform: scale(0.9);
      }

      &__text-container {
        border: 5px solid wheat;
        width: 100%;
        height: 15%;
        color: white;
      }
    }
  }
}
