.portfolio {
    // display: block;
    z-index:1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    
    // transform: translateY(-100%);
    // transition-timing-function: ease-in-out;

    // display: none;

    
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    &__overlay {
        background-color: rgba(10, 111, 194, 0.425);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }


    &__projects-container {
        border: 4px solid red;
        margin: 15rem 3rem;
        padding: 1.5rem;
        height: 55%;
        z-index: 5;



        &__project-title {
            text-align: center;
        }

        &__controller {
            display: block;
            text-align: center;
            margin: 3vh auto;
        }

        &__boxes-container {
            display: inline-block;
            width: 100%;
            height: 80%;
            border: 1px solid green;
            margin: 1.5rem auto;

        }

        .box {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        &__box-1 {
            border: 1px solid yellow;
            overflow: hidden;

            &__img-container {
                position: relative;
                display: block;
                width: 100%;
                height: 80%;
                border-radius: 10px;
                border: 5px solid green;
                perspective: 355px;
                backface-visibility: visible;

                &__img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .fa {
                    font-size: 3.5rem;
                    color: $color-icons-yellow;
                    transition: .3s ease-in-out;
                    transform: scale(1.1);
                }

                .fa-globe {
                    position: absolute;
                    top: 75%;
                    left: 40%;
                }

                .fa-github {
                    position: absolute;
                    top: 75%;
                    left: 55%;
                }

                .fa:hover {
                    // transform: scale(1.5) rotateY(360deg);
                    color: $color-icons-pink;
                    animation: iconMovement 1s ease-out;
                }
                
                .fa:active {
                    transform: scale(0.9);
                }

            }


            .projects-title {
                color: $color-white;
                text-align: center;
                margin-bottom: 1rem;
            }

            .projects-used {
                color: $color-white;
            }
        }

        &__box-2 {
            display: none;
            background: rebeccapurple;
            visibility: hidden;
            position: absolute
        }

        &__box-3 {
            display: none;
            background: rebeccapurple;
            visibility: hidden;
            position: absolute
        }

        &__box-4 {
            display: none;
            background: rebeccapurple;
            visibility: hidden;
            position: absolute
        }

        &__box-5 {
            display: none;
            background: rebeccapurple;
            visibility: hidden;
            position: absolute
        }

        &__box-6 {
            display: none;
            background: rebeccapurple;
            visibility: hidden;
            position: absolute
        }
    }




}



