.footer {
    // z-index: 1;
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 2%;
    left: 0;


    &__social-container {
        // width: 100%;

        // Beware.. image overflowing - tho it works fine as it is - if something breaks fallback to width 100%
        width: fit-content;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        z-index: 2;
        filter: blur(0px);



        &__icon-link {
            display: inline-block;
            width: 3rem;
            height: 2.8rem;
            margin: 0 1.5rem;
            border-radius: 33%;
            position: relative;
            left: 50%;
            transform: translateX(-450%);
            transition: transform .5s cubic-bezier(.26, 1.58, .77, -0.2);
            -webkit-filter: blur(0px);
            filter: blur(0px);


            &:hover {
                transform: translateX(-450%) scale(1.5) skewY(5deg) rotateZ(5deg);
            }



            .footer-icon {
                width: 100%;
                height: 100%;
                font-size: 30px;
                position: relative;
                top: 0;
                left: 0;

            }

            #footer-github {
                color: rgb(26, 22, 22);

            }


            #footer-linkedin {
                color: rgb(17, 44, 165);

            }

            #footer-freecodecamp {
                color: rgb(7, 153, 2);

            }

            #footer-codewars {
                top: 15%;
                border-radius: 30%;
                margin-left: .8rem;
            }
        }


    }
}