*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines what 1 rem is
    font-size: 62.5%;
    font-family: 'K2D', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    //turn off selection on clicks..
    -webkit-user-select: none;
    user-select: none;
    min-height: 100%;

}

body {
    box-sizing: border-box;
    min-height: 100%;
    overflow: hidden;
}



//     color: #0d54be

// "value": ["#e42c79", "#b90e56", "#d11e69", "#c7139a", "#3421dd", "#5b1cd1", "#e94504", "#d1561d"]